.button {
  transition: all 0.2s ease-in-out;
}

.button-primary:hover:not(:disabled) {
  background-color: var(--color-hover-primary) !important;
}

.button-secondary:hover:not(:disabled) {
  background-color: var(--color-hover-secondary) !important;
}

.button-outline:hover:not(:disabled) {
  background-color: #4F46E5 !important;
  color: white !important;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

