.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    padding: "48px 16px";
    color: var(--color-fontColor-secondary);

    Button {
        margin: 20px 0;
    };
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeInLeft {
    animation: fadeInLeft 0.8s ease-out forwards;
}
.Button {
    animation: fadeInLeft 0.8s ease-out forwards;
}
