.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60vh;
    padding: "48px 16px";
    color: var(--color-fontColor-secondary);

    Button {
        margin: 20px 0;
    };
}
