.Navbar {
    margin: 20px auto;
    width: 80% !important;
    box-shadow: 5px 5px 10px #00000048;
    border-radius: 8px;
}
.section {
    color: white;
}
.container {
    margin: 30px auto;
    width: 90%;
}